.header-color{
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #928DAB, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.landing-grid{
  background: #00d2ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #928DAB, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.big-content{
  overflow-y: scroll;
}

.avatar-img{
  height: 250px;
  padding-top: 5em;
}

.banner-text{
  padding-top: 70px;
  /* background-color: black; */
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1{
  font-size: 60px;
  color: white;
  font-weight: bold;
}

.banner-text hr{
  border-top: 5px dotted white ;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links{
 display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links a i{
  color: white;
  font-size: 5em;
}

.projects-grid{
  display: flex;
  justify-content: space-between;
}

.contact-body{
  margin: auto;
  font-weight: bold;
  font-size: 2em;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i{
  padding-right: 2em;
}

.resume-right-col{
  background-color: #ACB6E5;
}

.resume-right-col h2{
  padding-left: 10px;
}

.resume-left img {
  background: url('https://codelearn.io/CodeCamp/CodeCamp/styles/images/admin_em2.svg?v=1') 100% 100% no-repeat;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.resume-left h2{
  text-align: center;
}




